body{
    font-style: italic;
}

.main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
    background-color: deeppink;
}
.cabecera{
    background-color: darkcyan;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px;
}
.footer{
    background-color: darkgrey;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.redes_sociales{
    display: flex;
    align-items: center;
}
.redes_sociales a{

    margin-right: 15px;
}